name: Build and deploy ASP.Net Core app to Azure Web App - diskever

on:
  #push:
  #  branches:
  #    - master
  release:
    types:[created]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        site: [diskever,diskever2]
        include:
          - site: diskever
            publish-profile: PP_DISKEVER
          - site: diskever2
            publish-profile: PP_DISKEVER2

    steps:
    - uses: actions/checkout@master

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.102'

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: dotnet publish
      run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp

    - name: Deploy to Azure Web App ${{matrix.site}}
      uses: azure/webapps-deploy@v1
      with:
        app-name: ${{matrix.site}}
        slot-name: 'production'
        publish-profile: ${{ secrets[matrix.publish-profile]}}
        package: ${{env.DOTNET_ROOT}}/myapp 
